<div class="table-responsive">
    <table class="table table-striped table-hover" nf-entity-list="cz.cvut.fel.nutforms.example.model.Bug">
        <thead>
        <tr>
            <th nf-field-label="id"></th>
            <th nf-field-label="description"></th>
            <th nf-field-label="log"></th>
        </tr>
        </thead>
        <tbody>
        <tr nf-entity-list-row="nf-entity-list-row">
            <td nf-field-widget="id"></td>
            <td nf-field-widget="description"></td>
            <td nf-field-widget="log"></td>
        </tr>
        </tbody>
    </table>
</div>
