<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "//java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="//java.sun.com/xml/ns/javaee"
         xmlns:xsi="//www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="//java.sun.com/xml/ns/javaee
            //java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>MetadataServlet</servlet-name>
        <servlet-class>cz.cvut.fel.nutforms.meta.MetadataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LayoutServlet</servlet-name>
        <servlet-class>cz.cvut.fel.nutforms.layout.LayoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocalizationServlet</servlet-name>
        <servlet-class>cz.cvut.fel.nutforms.localization.LocalizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RuleServlet</servlet-name>
        <servlet-class>cz.cvut.fel.nutforms.rules.servlet.RuleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WidgetServlet</servlet-name>
        <servlet-class>cz.cvut.fel.nutforms.widget.WidgetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WidgetMappingServlet</servlet-name>
        <servlet-class>cz.cvut.fel.nutforms.widget.WidgetMappingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdaptiveApiServlet</servlet-name>
        <servlet-class>cz.cvut.fel.nutforms.example.AdaptiveApiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MetadataServlet</servlet-name>
        <url-pattern>/meta/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LayoutServlet</servlet-name>
        <url-pattern>/layout/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocalizationServlet</servlet-name>
        <url-pattern>/localization/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RuleServlet</servlet-name>
        <url-pattern>/rules/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WidgetServlet</servlet-name>
        <url-pattern>/widget/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WidgetMappingServlet</servlet-name>
        <url-pattern>/widget-mapping/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdaptiveApiServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>cz.cvut.fel.nutforms.example.ApplicationContextListener</listener-class>
    </listener>

</web-app>